<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Fun App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a>
                    </li>
                    <li role="presentation"><a href="signIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>Sign Up Here!</h1>
            <form>
                <p>Username: <input type="text" name = "username"></p>
                <p>Password: <input type="text" name = "pw1"></p>
                <p>Password (Again): <input type="text" name = "pw2"></p>
                <p><input type="submit" name = "createUserSubmit"></p>
            </form>

        </div>

        <footer class="footer">
            <p>Contact Us! About Us! Fun Fun Fun Inc.</p>
        </footer>

    </div>
</body>

</html>